<ul class="title-area">
  <li class="name">
    Ember - Java
  </li>
</ul>
<ul id="nav-bar" class="button-group round even-6">
  <li>{{#link-to "customers" class="small button secondary"}}Customers{{/link-to}}</li>
  <li>{{#link-to "products" class="small button secondary"}}Products{{/link-to}}</li>
  <li>{{#link-to "orders" class="small button secondary"}}Orders{{/link-to}}</li>
</ul>