<div class="panel callout radius select">
  {{#each this}}
    <div class="tiny button secondary expand" {{action "selectCustomer" this}}>
    {{fullName}}
    </div>
  {{else}}
    <div> No customers found </div>
  {{/each}}
</div>