<ul id="nav-bar" class="button-group round even-6">
  <li>{{#linkTo "customers" class="small button secondary"}}Customers{{/linkTo}}</li>
  <li>{{#linkTo "products" class="small button secondary"}}Products{{/linkTo}}</li>
  <li>{{#linkTo "orders" class="small button secondary"}}Orders{{/linkTo}}</li>
</ul>