<div>
  <BsNav
    @type="tabs"
    @fill={{true}}
    as |nav|>
        <nav.item>
          <nav.link-to @route="index">Home</nav.link-to>
        </nav.item>
        <nav.item>
          <nav.link-to @route="customers">Customers</nav.link-to>
        </nav.item>
        <nav.item>
          <nav.link-to @route="products">Products</nav.link-to>
        </nav.item>
        <nav.item>
          <nav.link-to @route="orders">Orders</nav.link-to>
        </nav.item>
  </BsNav>

  {{yield}}
</div>
