<div id="header" class="fixed-top p-3 header">
  <p>&nbsp;</p>
</div>
<div id="header-filler" class="p-3">
  <p>&nbsp;</p>
</div>

<div id="title" class="fixed-top p-2 m-2 bg-info shadow rounded">
  <h3 class="subheader">Ember - Java REST</h3>
</div>

<div id="app-body" class="container">
  <div class="row">
    <div class="col">
      <NavigationBar class="top-bar" role="navigation" />
    </div>
  </div>

  <div class="row">
    <div class="col">
      {{outlet}}
    </div>
  </div>
</div>

<div id="footer-filler" class="p-1">
  <h6>&nbsp;</h6>
</div>
<div id="copyright" class="fixed-bottom p-1 bg-info">
  <h6 class="subheader">ERJ {{concat "v" (app-version versionOnly=true)}} </h6>
</div>
