<div id="title">
  <div class="row full-width">
    <div class="small-6 columns">
      <h3 class="subheader">Ember - Java REST</h3>
    </div>
    <div class="large-5 large-offset-1 columns">
    </div>
  </div>
</div>

<div class="contain-to-grid">
  <NavigationBar class="top-bar" role="navigation" />
</div>

<div class="row">
  {{outlet}}
</div>

<div id="copyright">
  <div class="row full-width">
    <h6 class="subheader">ERJ {{concat "v" (app-version versionOnly=true)}} </h6>
  </div>
</div>